
/* ExpansionTable Component Styling */
.expansion_heading {
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}

.expansion_body {
    font-family: Roboto, sans-serif;
    word-wrap: break-spaces;
    padding-bottom: 1em;
    width: 94%;
    align-self: center;
    padding-left: 1em!important;
    margin-right: 0px!important;
    padding-top:0px!important;
}

.expansion_paper {
    background-color: var(--primary_light)!important;
    max-width: 40em;
    margin-bottom: 3vw!important;
    margin-left: 1vw;
    margin-right: 1vw;
    max-height: fit-content;
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-top: 0!important;
}

.table_row_head {
    font-weight: bold!important;
    color: var(--secondary_color)!important;
}


.tbl {
}

.tbl_hd {

}

.tbl_row {
    width:inherit!important;
}

.tbl_cell {
    border-bottom-width: 1px!important;
    border-bottom-color: var(--secondary_dark)!important;
    padding-right: 0px!important;
}

.tbl_data_cell {
    text-align: center!important;
}

.tbl_header_cell {
    text-align: center !important;
    font-weight: bold !important;
    color: var(--secondary_color) !important;
    font-size: .9em !important;
    align-self: center !important;
}

.booking_button {
    color: var(--secondary_color) !important;
    border-color: var(--secondary_color) !important;
}

.expansion_dialog_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}