#game_board {
    background-image: url(../resources/svg/Pacman_Background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 93;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-clip: border-box;
    padding: 4%;
}

#game_board[state="game_over"]::before {
    content: "GAME OVER";
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: var(--paku);
    text-align: center;
}

#bottom_row {
    flex: 7;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#lives {
    flex: 3;
}

#powerups {
    flex: 11;
}

.game_board_row {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game_board_box {
    flex: 1;
    display: block;
}

.game_board_box::before {
     content: ".";
     font-size: 20px;
     color: white;
     display: block;
     position: relative;
     left: 25%;
     top: 0%;
 }

.game_board_box.super_pellet::before {
    content: none;
}

.super_pellet > svg {
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
}

.super_pellet > svg > circle {
    fill: greenyellow;
}