:root {
    --background: #000;
    --paku: yellow;
    --primary_text: white;
    --font_family: 'Press Start 2P', Monospace;
    --screen_height: 100vh;
    --aspect_ratio_width: 3.2;
    --aspect_ratio_height: 2;
    --font_size: 35px;
    --font_gray_1: #A9A9A9;
    --font_teal_dark: #00A9AA;
}

html {
    background-color: var(--background);
    text-transform: uppercase;
    font-size: var(--font_size);
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height:100vh;
    font-family: var(--font_family);
    justify-content: center;
}

.container {
    display: flex;
}

.score {
    color: var(--font_teal_dark);
}

#display {
    width: calc(var(--screen_height) * var(--aspect_ratio_width) / var(--aspect_ratio_height)); /* maintains 4:3 aspect ration */
    height: var(--screen_height);
    flex-direction: row;
    align-self: center;
    border: 6px solid white; /*TODO: REMOVE ME*/
}

#display > .container {
    flex-direction: column;
    height: 100%;
}

#left_container {
    flex: 84;
}

#right_container {
    flex: 76;
    background-color: yellow; /* TODO: Remove me */
}

#right_container > div {
    color: var(--font_gray_1);
    align-self: center;
}

#game_board {
    background-image: url(../resources/svg/Pacman_Background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 93;
}

#bottom_row {
    flex: 7;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#lives {
    flex: 3;
}

#powerups {
    flex: 11;
}