:root {
    --background: #000;
    --paku: yellow;
    --primary_text: white;
    --font_family: 'Press Start 2P', Monospace;
    --screen_height: 100vh;
    --aspect_ratio_width: 3.2;
    --aspect_ratio_height: 2;
    --font_size: 2vw; /*35px;*/
    --font_gray_1: #A9A9A9;
    --font_gray_light: #E9E9E9;
    --font_teal_dark: #00A9AA;
    --red: red; /*UPDATE COLOR*/
    --green: green; /*UPDATE COLOR*/
    --entity_height: calc(var(--screen_height) / 22);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    background-color: var(--background);
    text-transform: uppercase;
    font-size: var(--font_size);
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height:100vh;
    font-family: var(--font_family);
    justify-content: center;
}

.container {
    display: flex;
}

.score {
    color: var(--font_teal_dark);
}

#display {
    width: calc(var(--screen_height) * var(--aspect_ratio_width) / var(--aspect_ratio_height)); /* maintains 4:3 aspect ration */
    height: var(--screen_height);
    flex-direction: row;
    align-self: center;
    border: 6px solid white; /*TODO: REMOVE ME*/
}

#display > .container {
    flex-direction: column;
    height: 100%;
}

#left_container {
    flex: 84;
}

#right_container {
    flex: 76;
}

#right_container > div {
    color: var(--font_gray_1);
    align-self: center;
}

#score_container {
    margin-top: 13vh;
}

#score_container > div {
    text-align: center;
}

#your_score_lbl {
    margin-top: 7vh;
}

#sound_display {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.sound_hotkey {
    color: var(--font_gray_light);
}

.sound_status {
    width: 4vw;
    margin-left: 1vw;
}

.sound_status::before {
    content: "ON";
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: var(--green);
}

#sound_display[sound="off"] > .sound_status::before {
    content: "OFF";
    color: var(--red);
}