/* Global CSS Variables */
:root{
    --primary_color: #AFDFD1;
    --primary_light: #D7EFE8;

    --secondary_color: #E37077;
    --secondary_dark: #EEB0AF;
}

/* Global CSS Classes */
.content_iframe {
    height: 80%;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.content_div {
    width: 100%;
    height: 80%;
}

.page_heading {
    color: var(--secondary_color);
    font-size: 2em;
    font-family: Magneto, sans-serif;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 2em;
}

.price_disclosure {
    font-family: Roboto, sans-serif;
    font-size: .6em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 2em;
}

.expansion_table_group {
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.center_content {
    justify-content: center;
}

.overflow_y {
    overflow-y: auto;
}


/*  Scroll Bar */
::-webkit-scrollbar {
    width: .4em;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 6em;
    background-color: var(--secondary_dark);
}