.img_slider {
    height: 100%;
    margin: 0px!important;
    padding: 0px!important;
    width: 100%;
}

.img_slider img {
    height: 100%;
    width: auto!important;
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-dots {
    bottom: 2%!important;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

.slick-dots li {
    margin: 0px;
}

.slick-dots li button{
    height: 5px!important;
    width: 5px!important;
}

.slick-dots button {
    background-color: var(--primary_color)!important;
    border-radius: 50%!important;
    border: none;
    display: block;
    padding: 0;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: var(--secondary_color)!important;
}